---
import bitmoji from "../assets/bitmoji_footer.png";
---

<footer>
  <div class="container wrapper flex-col">
    <div class="group flex-col">
      <p>Vil du have mig med på holdet?</p>
      <h2 id="kontakt">KONTAKT MIG</h2>
    </div>
    <div class="btns flex">
      <a href="mailto:marcuswagner5950@gmail.com"
        ><button class="btn">
          <svg
            width="25"
            height="20"
            viewBox="0 0 25 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22.4049 0H2.59533C1.23343 0 0.131522 1.125 0.131522 2.5L0.119141 17.5C0.119141 18.875 1.23343 20 2.59533 20H22.4049C23.7668 20 24.881 18.875 24.881 17.5V2.5C24.881 1.125 23.7668 0 22.4049 0ZM22.4049 5L12.5001 11.25L2.59533 5V2.5L12.5001 8.75L22.4049 2.5V5Z"
              fill="#D9D9D9"></path>
          </svg>
          Email
        </button></a
      >
      <a href="tel:+4560663371"
        ><button class="btn">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.9235 19.4666C14.1392 19.4666 13.0376 19.1724 11.3879 18.2166C9.38179 17.0499 7.83013 15.9728 5.83491 13.9091C3.9112 11.9153 2.97506 10.6245 1.66487 8.15199C0.184724 5.36032 0.437039 3.89699 0.719087 3.27157C1.05497 2.52407 1.55076 2.07699 2.1916 1.63324C2.55559 1.38592 2.94078 1.17391 3.34229 0.999906C3.38246 0.98199 3.41983 0.964906 3.45318 0.94949C3.65206 0.856573 3.95339 0.716156 4.33508 0.866156C4.5898 0.965323 4.81721 1.16824 5.17318 1.53282C5.90321 2.27949 6.90082 3.94241 7.26885 4.75907C7.51594 5.30949 7.67947 5.67282 7.67987 6.08032C7.67987 6.5574 7.44845 6.92532 7.1676 7.3224C7.11497 7.39699 7.06274 7.46824 7.01212 7.5374C6.70636 7.95407 6.63927 8.07449 6.68346 8.28949C6.77306 8.72157 7.44121 10.0078 8.53927 11.1441C9.63733 12.2803 10.8419 12.9295 11.2601 13.022C11.4763 13.0699 11.5948 12.9974 12.0094 12.6691C12.0689 12.622 12.1299 12.5732 12.1938 12.5245C12.6221 12.1941 12.9604 11.9603 13.4096 11.9603H13.412C13.8029 11.9603 14.1376 12.1362 14.6921 12.4262C15.4153 12.8045 17.067 13.8257 17.7914 14.5837C18.1437 14.952 18.3402 15.187 18.4362 15.4507C18.5809 15.8478 18.4447 16.1591 18.3559 16.3674C18.341 16.402 18.3245 16.4399 18.3073 16.482C18.1381 16.8976 17.9325 17.2963 17.6929 17.6728C17.2659 18.3353 16.8331 18.8482 16.1108 19.197C15.7398 19.379 15.3338 19.4712 14.9235 19.4666Z"
              fill="#D9D9D9"></path>
          </svg>
          Ring
        </button></a
      >
      <a href="https://www.linkedin.com/in/mw5950/" target="_blank"
        ><button>
          <svg
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.4839 0.479492C19.051 0.479492 19.5948 0.70328 19.9958 1.10163C20.3968 1.49997 20.6221 2.04024 20.6221 2.60359V17.4723C20.6221 18.0356 20.3968 18.5759 19.9958 18.9742C19.5948 19.3726 19.051 19.5964 18.4839 19.5964H3.5166C2.94952 19.5964 2.40566 19.3726 2.00468 18.9742C1.60369 18.5759 1.37842 18.0356 1.37842 17.4723V2.60359C1.37842 2.04024 1.60369 1.49997 2.00468 1.10163C2.40566 0.70328 2.94952 0.479492 3.5166 0.479492H18.4839ZM17.9493 16.9413V11.3124C17.9493 10.3941 17.5821 9.51349 16.9285 8.86419C16.2749 8.21489 15.3884 7.85011 14.4641 7.85011C13.5554 7.85011 12.497 8.40238 11.9838 9.23078V8.0519H9.00103V16.9413H11.9838V11.7053C11.9838 10.8876 12.6466 10.2185 13.4698 10.2185C13.8668 10.2185 14.2475 10.3751 14.5282 10.654C14.8089 10.9328 14.9666 11.311 14.9666 11.7053V16.9413H17.9493ZM5.52649 6.38449C6.00284 6.38449 6.45968 6.1965 6.79651 5.86189C7.13333 5.52728 7.32256 5.07345 7.32256 4.60024C7.32256 3.61254 6.52074 2.80538 5.52649 2.80538C5.04731 2.80538 4.58775 2.99448 4.24892 3.33108C3.91008 3.66768 3.71973 4.12422 3.71973 4.60024C3.71973 5.58795 4.53224 6.38449 5.52649 6.38449ZM7.01253 16.9413V8.0519H4.05114V16.9413H7.01253Z"
              fill="#D9D9D9"></path>
          </svg>
          LinkedIn
        </button></a
      >
      <a href="https://github.com/marc5950" target="_blank"
        ><button>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.99997 0.78418C8.7125 0.78418 7.43763 1.03777 6.24817 1.53046C5.0587 2.02315 3.97793 2.7453 3.06755 3.65568C1.22896 5.49427 0.196045 7.98794 0.196045 10.5881C0.196045 14.9214 3.00977 18.5979 6.90193 19.9018C7.39212 19.9803 7.54899 19.6763 7.54899 19.4116V17.7548C4.8333 18.343 4.25487 16.441 4.25487 16.441C3.80389 15.3038 3.16663 14.9999 3.16663 14.9999C2.27448 14.392 3.23526 14.4116 3.23526 14.4116C4.21565 14.4803 4.73526 15.4214 4.73526 15.4214C5.5882 16.9116 7.02938 16.4705 7.5882 16.2352C7.67644 15.5979 7.93134 15.1665 8.20585 14.9214C6.02938 14.6763 3.74506 13.8332 3.74506 10.0979C3.74506 9.00967 4.11761 8.13712 4.75487 7.44104C4.65683 7.19594 4.31369 6.17634 4.85291 4.85281C4.85291 4.85281 5.67644 4.5881 7.54899 5.85281C8.3235 5.63712 9.16663 5.52928 9.99997 5.52928C10.8333 5.52928 11.6764 5.63712 12.4509 5.85281C14.3235 4.5881 15.147 4.85281 15.147 4.85281C15.6862 6.17634 15.3431 7.19594 15.2451 7.44104C15.8823 8.13712 16.2549 9.00967 16.2549 10.0979C16.2549 13.843 13.9608 14.6665 11.7745 14.9116C12.1274 15.2156 12.4509 15.8136 12.4509 16.7254V19.4116C12.4509 19.6763 12.6078 19.9901 13.1078 19.9018C17 18.5881 19.8039 14.9214 19.8039 10.5881C19.8039 9.30063 19.5503 8.02577 19.0576 6.8363C18.5649 5.64684 17.8428 4.56606 16.9324 3.65568C16.022 2.7453 14.9412 2.02315 13.7518 1.53046C12.5623 1.03777 11.2874 0.78418 9.99997 0.78418Z"
              fill="#D9D9D9"></path>
          </svg>
          GitHub
        </button></a
      >
    </div>
    <img src={bitmoji.src} alt="#" />
  </div>
  <div class="copyright flex wrapper">
    <p>&copy; {new Date().getFullYear()}</p>
    <p>mwmedier</p>
  </div>
</footer>

<style>
  footer {
    padding: 0 20px;
  }

  footer .container {
    border: var(--secondary-color) 1px solid;
    border-radius: var(--border-radius);
    position: relative;
    margin-top: 50px;
    align-items: center;
  }

  footer .group {
    text-align: center;
    align-items: center;
    gap: 0;
    margin-bottom: 5rem;
    p {
      font-size: 14px;
      color: var(--secondary-color);
    }
    h2 {
      font-size: 5rem;
      width: 100%;
      line-height: 5rem;

      @media (max-width: 768px) {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }
    }
  }

  footer .btns {
    justify-content: end;
    flex-wrap: wrap;
    width: 80%;
  }

  @media (max-width: 400px) {
    footer .btns {
      justify-content: start;
    }
  }

  footer img {
    position: absolute;
    left: 0;
    top: 8rem;
    height: 200px;
    width: auto;
    pointer-events: none;
    z-index: 1;
  }

  footer .copyright {
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 0.875rem;
    color: var(--secondary-color);
  }
</style>
