---
import logo from "../assets/logo.png";
import logoAlt from "../assets/logo-alt.png"
import logo_s from "../assets/logo_s.png";
import logoAlt_s from "../assets/logo-alt_s.png"
---

<header>
  <div class="flex wrapper">
    <a class="logo" href="Til forside"><img src={logo.src} alt="" /></a>
    <a class="logo-alt" href="Til forside"><img src={logoAlt.src} alt="" /></a>
    <a class="logo_s" href="Til forside"><img src={logo_s.src} alt="" /></a>
    <a class="logo-alt_s" href="Til forside"><img src={logoAlt_s.src} alt="" /></a>
    <div class="flex">
      <nav>
        <ul class="flex">
          <li><a href="#projekter">projekter</a></li>
          <li><a href="#ui">ui</a></li>
          <li><a href="#færdigheder">færdigheder</a></li>
          <li><a href="#kontakt">kontakt</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
