<section id="projekter" class="projekter wrapper flex-col">
  <h2>Projekter</h2>
  <div class="projekter-list flex">
    <div class="projekt-item">
      <h3>Projekt 1</h3>
      <p>Beskrivelse af projekt 1.</p>
    </div>
  </div>
</section>
