<section id="færdigheder" class="færdigheder wrapper flex-col">
  <h2>Færdigheder</h2>
  <h3>Tech stack</h3>
  <ul class="flex">
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M31.8278 3.55576L25.0394 0.289793C24.6555 0.103781 24.2231 0.0420611 23.8025 0.11322C23.3818 0.184378 22.9938 0.384876 22.6924 0.686824L9.6901 12.5514L4.02369 8.25414C3.7685 8.05903 3.45292 7.95969 3.13199 7.97345C2.81106 7.98721 2.50514 8.11319 2.26757 8.32942L0.452673 9.98354C0.31082 10.1117 0.197337 10.2682 0.119507 10.4428C0.0416781 10.6175 0.00122235 10.8065 0.000736844 10.9977C0.000251336 11.1889 0.0397468 11.3781 0.116688 11.5531C0.193629 11.7281 0.306317 11.8852 0.447517 12.0141L5.36218 16.499L0.447517 20.9839C0.306317 21.1128 0.193629 21.2698 0.116688 21.4449C0.0397468 21.6199 0.000251336 21.8091 0.000736844 22.0003C0.00122235 22.1915 0.0416781 22.3805 0.119507 22.5551C0.197337 22.7298 0.31082 22.8862 0.452673 23.0144L2.26757 24.6685C2.50514 24.8848 2.81106 25.0108 3.13199 25.0245C3.45292 25.0383 3.7685 24.9389 4.02369 24.7438L9.6901 20.4415L22.6986 32.3111C22.9988 32.6133 23.3859 32.8141 23.8058 32.8853C24.2258 32.9564 24.6575 32.8945 25.0404 32.7082L31.835 29.437C32.1851 29.2693 32.4804 29.0056 32.6867 28.6766C32.8929 28.3477 33.0017 27.967 33.0002 27.5787V5.41201C33.0002 4.62207 32.5434 3.89711 31.8298 3.5537L31.8278 3.55576ZM24.7538 23.9931L14.8822 16.5L24.7538 9.00695V23.9931Z"
          fill="#D9D9D9"></path>
      </svg>
      <div class="group flex-col">
        <h4>Visual Studio Code</h4>
        <p>Kode editor</p>
      </div>
    </li>
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.80547 0.458252C4.3873 0.458252 3.02722 1.02162 2.02442 2.02442C1.02162 3.02722 0.458252 4.3873 0.458252 5.80547V27.1944C0.458252 28.6125 1.02162 29.9726 2.02442 30.9754C3.02722 31.9782 4.3873 32.5416 5.80547 32.5416H27.1944C28.6125 32.5416 29.9726 31.9782 30.9754 30.9754C31.9782 29.9726 32.5416 28.6125 32.5416 27.1944V5.80547C32.5416 4.3873 31.9782 3.02722 30.9754 2.02442C29.9726 1.02162 28.6125 0.458252 27.1944 0.458252H5.80547ZM18.8777 23.7276C20.161 24.7614 21.4419 25.2711 22.7205 25.2569C23.5048 25.2569 24.106 25.1131 24.5243 24.8255C24.7191 24.6991 24.8775 24.5242 24.9841 24.3179C25.0907 24.1116 25.1417 23.8811 25.1321 23.6492C25.1348 23.3961 25.082 23.1456 24.9772 22.9152C24.8725 22.6848 24.7185 22.4803 24.5261 22.3159C24.1078 21.9511 23.3164 21.5851 22.1519 21.218C20.7533 20.8139 19.675 20.2911 18.9169 19.6494C18.173 19.0078 17.7939 18.1124 17.7797 16.9633C17.7797 15.8785 18.2502 14.97 19.1914 14.238C20.1063 13.5061 21.2768 13.1401 22.7027 13.1401C24.6895 13.1401 26.2836 13.6237 27.4849 14.591L26.1124 16.7281C25.6182 16.3438 25.0513 16.0637 24.4459 15.9046C23.9018 15.7223 23.3334 15.6232 22.7597 15.6105C22.0824 15.6105 21.54 15.7347 21.1324 15.983C20.7284 16.2326 20.5264 16.5593 20.5264 16.9633C20.5264 17.4078 20.7741 17.7868 21.2696 18.1005C21.7687 18.4023 22.6183 18.7357 23.8185 19.1005C25.2694 19.5318 26.302 20.1069 26.9163 20.8258C27.5306 21.5447 27.8378 22.4597 27.8378 23.5707C27.8378 24.7079 27.3999 25.6882 26.5242 26.5117C25.6615 27.3221 24.4067 27.7469 22.7597 27.7861C20.603 27.7861 18.7992 27.1391 17.3483 25.8451L18.8777 23.7276ZM9.02094 24.8648C9.43921 25.1262 9.94244 25.2569 10.5306 25.2569C11.145 25.2569 11.6547 25.0804 12.0599 24.7275C12.464 24.3615 12.6666 23.7276 12.6677 22.8257V13.3754H15.3146V23.3355C15.2754 24.8778 14.831 25.9889 13.9814 26.6686C13.5165 27.0616 12.976 27.3552 12.3933 27.5312C11.8529 27.6958 11.2916 27.7816 10.7267 27.7861C9.74638 27.7861 8.87716 27.6162 8.11904 27.2764C7.30864 26.9116 6.62895 26.2645 6.07997 25.3353L7.92298 23.8256C8.26163 24.2831 8.62762 24.6295 9.02094 24.8648Z"
          fill="#D9D9D9"></path>
      </svg>

      <div class="group flex-col">
        <h4>Javascript</h4>
        <p>Programmeringssprog</p>
      </div>
    </li>
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M29.3187 0H3.17167C1.42083 0 0 1.44283 0 3.223V29.777C0 31.5553 1.42083 33 3.17167 33H29.3187C31.0713 33 32.4903 31.5572 32.4903 29.777V3.223C32.4903 1.44467 31.0713 0 29.3187 0ZM18.8467 18.304H14.7858V30.0997H11.55V18.304H7.48733V15.6622H18.8467V18.304ZM29.3187 27.9785C29.0638 28.5597 28.6275 28.9905 28.1123 29.3333C27.566 29.6711 26.9648 29.9107 26.3358 30.041C25.6263 30.1903 24.903 30.2641 24.178 30.261C23.4333 30.2633 22.69 30.1958 21.9578 30.0593C21.3185 29.9468 20.6986 29.743 20.1172 29.4543V26.3578L19.9962 26.2607L20.1172 26.2332V26.3578C20.6562 26.7942 21.2502 27.1272 21.8992 27.357C22.5353 27.6008 23.232 27.7237 23.9305 27.7237C24.3742 27.7237 24.7115 27.6852 25.0103 27.6137C25.2788 27.5525 25.5357 27.4485 25.7712 27.3057C25.9586 27.1921 26.1139 27.0324 26.2222 26.8418C26.3342 26.6299 26.3847 26.3908 26.3678 26.1517C26.351 25.9126 26.2675 25.6829 26.1268 25.4888C25.9555 25.2464 25.7404 25.0381 25.4925 24.8747C25.1935 24.6631 24.8742 24.4819 24.5392 24.3338C24.1597 24.1597 23.7728 23.9782 23.3347 23.7985C22.2548 23.2833 21.4042 22.7682 20.8597 22.0568C20.3078 21.4152 20.0347 20.5755 20.0347 19.6093C20.0347 18.8357 20.1813 18.216 20.4783 17.6752C20.7955 17.0958 21.1695 16.6705 21.6847 16.3222C22.1925 15.9683 22.7627 15.7098 23.4612 15.5485C24.1578 15.3872 24.8582 15.3047 25.619 15.3047C26.3798 15.3047 27.016 15.3487 27.5862 15.4385C28.1563 15.5302 28.6898 15.6713 29.172 15.8583V18.887C28.9346 18.713 28.6796 18.5643 28.4112 18.4433C27.8434 18.197 27.2454 18.0275 26.6328 17.9392C26.3597 17.8983 26.084 17.8781 25.8078 17.8787C25.467 17.8741 25.1268 17.9092 24.794 17.9832C24.5247 18.0369 24.2667 18.1367 24.0313 18.2783C23.8396 18.3928 23.6766 18.5496 23.5547 18.7367C23.4412 18.9159 23.382 19.1241 23.3842 19.3362C23.3842 19.5733 23.4477 19.7878 23.5748 19.9797C23.7007 20.1654 23.881 20.3463 24.1157 20.5223C24.3247 20.6892 24.6107 20.8578 24.9407 21.0247C25.3202 21.1915 25.663 21.3602 26.0828 21.5343C26.653 21.7782 27.1608 22.0495 27.6045 22.308C28.05 22.5647 28.424 22.8672 28.7467 23.21C29.0895 23.5308 29.337 23.9195 29.5093 24.3705C29.6817 24.8215 29.7697 25.3293 29.7697 25.916C29.7697 26.7538 29.5717 27.3992 29.3187 27.9785Z"
          fill="#D9D9D9"></path>
      </svg>

      <div class="group flex-col">
        <h4>Typescript</h4>
        <p>Javascript, men bedre</p>
      </div>
    </li>
    <li>
      <svg
        width="36"
        height="33"
        viewBox="0 0 36 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.0001 13.3814C19.6855 13.3814 21.0601 14.7674 21.0601 16.4999C21.0601 18.1499 19.6855 19.5524 18.0001 19.5524C16.3146 19.5524 14.9401 18.1499 14.9401 16.4999C14.9401 14.7674 16.3146 13.3814 18.0001 13.3814ZM10.4237 29.7C11.4546 30.327 13.7128 29.37 16.3146 26.895C15.4637 25.9214 14.6292 24.8654 13.8437 23.7599C12.5252 23.6318 11.2143 23.4335 9.91645 23.166C9.0819 26.697 9.39281 29.1225 10.4237 29.7ZM11.5855 20.2289L11.111 19.3874C10.931 19.8659 10.751 20.3444 10.6364 20.8064C11.0783 20.9054 11.5692 20.9879 12.0764 21.0704L11.5855 20.2289ZM22.2874 18.9749L23.6128 16.4999L22.2874 14.0249C21.7964 13.1504 21.2728 12.3749 20.7983 11.5994C19.9146 11.5499 18.9819 11.5499 18.0001 11.5499C17.0183 11.5499 16.0855 11.5499 15.2019 11.5994C14.7274 12.3749 14.2037 13.1504 13.7128 14.0249L12.3874 16.4999L13.7128 18.9749C14.2037 19.8494 14.7274 20.6249 15.2019 21.4004C16.0855 21.4499 17.0183 21.4499 18.0001 21.4499C18.9819 21.4499 19.9146 21.4499 20.7983 21.4004C21.2728 20.6249 21.7964 19.8494 22.2874 18.9749ZM18.0001 7.88694C17.6892 8.24994 17.3619 8.62944 17.0346 9.07494H18.9655C18.6383 8.62944 18.311 8.24994 18.0001 7.88694ZM18.0001 25.1129C18.311 24.7499 18.6383 24.3705 18.9655 23.9249H17.0346C17.3619 24.3705 17.6892 24.7499 18.0001 25.1129ZM25.5601 3.29994C24.5455 2.67294 22.2874 3.62994 19.6855 6.10494C20.5364 7.07844 21.371 8.13444 22.1564 9.23994C23.4983 9.37194 24.8237 9.56994 26.0837 9.83394C26.9183 6.30294 26.6074 3.87744 25.5601 3.29994ZM24.4146 12.7709L24.8892 13.6124C25.0692 13.1339 25.2492 12.6554 25.3637 12.1934C24.9219 12.0944 24.431 12.0119 23.9237 11.9294L24.4146 12.7709ZM26.7874 1.13844C29.1928 2.52444 29.4546 6.17094 28.4401 10.4279C32.5964 11.6654 35.591 13.7114 35.591 16.4999C35.591 19.2884 32.5964 21.3344 28.4401 22.572C29.4546 26.829 29.1928 30.4755 26.7874 31.8615C24.3983 33.2475 21.1419 31.6635 18.0001 28.644C14.8583 31.6635 11.6019 33.2475 9.19645 31.8615C6.80736 30.4755 6.54554 26.829 7.56009 22.572C3.40372 21.3344 0.40918 19.2884 0.40918 16.4999C0.40918 13.7114 3.40372 11.6654 7.56009 10.4279C6.54554 6.17094 6.80736 2.52444 9.19645 1.13844C11.6019 -0.24756 14.8583 1.33644 18.0001 4.35594C21.1419 1.33644 24.3983 -0.24756 26.7874 1.13844ZM26.3128 16.4999C26.8692 17.7374 27.3601 18.9749 27.7692 20.2289C31.2055 19.1894 33.1364 17.7044 33.1364 16.4999C33.1364 15.2954 31.2055 13.8104 27.7692 12.7709C27.3601 14.0249 26.8692 15.2624 26.3128 16.4999ZM9.68736 16.4999C9.131 15.2624 8.64009 14.0249 8.231 12.7709C4.79463 13.8104 2.86372 15.2954 2.86372 16.4999C2.86372 17.7044 4.79463 19.1894 8.231 20.2289C8.64009 18.9749 9.131 17.7374 9.68736 16.4999ZM24.4146 20.2289L23.9237 21.0704C24.431 20.9879 24.9219 20.9054 25.3637 20.8064C25.2492 20.3444 25.0692 19.8659 24.8892 19.3874L24.4146 20.2289ZM19.6855 26.895C22.2874 29.37 24.5455 30.327 25.5601 29.7C26.6074 29.1225 26.9183 26.697 26.0837 23.166C24.8237 23.43 23.4983 23.6279 22.1564 23.7599C21.371 24.8654 20.5364 25.9214 19.6855 26.895ZM11.5855 12.7709L12.0764 11.9294C11.5692 12.0119 11.0783 12.0944 10.6364 12.1934C10.751 12.6554 10.931 13.1339 11.111 13.6124L11.5855 12.7709ZM16.3146 6.10494C13.7128 3.62994 11.4546 2.67294 10.4237 3.29994C9.39281 3.87744 9.0819 6.30294 9.91645 9.83394C11.2143 9.56639 12.5252 9.36812 13.8437 9.23994C14.6292 8.13444 15.4637 7.07844 16.3146 6.10494Z"
          fill="#D9D9D9"></path>
      </svg>

      <div class="group flex-col">
        <h4>React</h4>
        <p>JavaScript-bibliotek</p>
      </div>
    </li>
    <li>
      <svg
        width="31"
        height="32"
        viewBox="0 0 31 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M23.0061 29.1224C22.8908 29.1835 22.9005 29.2029 23.011 29.1466C23.0451 29.1329 23.0763 29.1128 23.103 29.0874C23.103 29.0671 23.103 29.0671 23.0061 29.1224ZM23.2386 28.9962C23.1834 29.0418 23.1834 29.0418 23.2493 29.0117C23.2732 28.9996 23.2954 28.9843 23.3151 28.9661C23.3151 28.9399 23.2996 28.9457 23.2386 28.9962ZM23.3897 28.905C23.3345 28.9506 23.3345 28.9506 23.4004 28.9205C23.4244 28.9081 23.4466 28.8924 23.4663 28.8739C23.4663 28.8496 23.4508 28.8545 23.3897 28.905ZM23.5428 28.8147C23.4876 28.8603 23.4876 28.8603 23.5515 28.8293C23.5874 28.8098 23.6174 28.7895 23.6174 28.7836C23.6174 28.7594 23.6019 28.7642 23.5428 28.8147ZM23.7491 28.6778C23.6435 28.7487 23.6067 28.7943 23.7036 28.7438C23.7685 28.7041 23.8789 28.6167 23.8596 28.6167C23.8179 28.6322 23.784 28.6584 23.7491 28.6778ZM14.4853 0.0105518C14.4145 0.0154048 14.2024 0.0348165 14.0164 0.0503459C9.61067 0.450228 5.48877 2.82623 2.87613 6.48632C1.43137 8.49321 0.492769 10.8206 0.140464 13.2698C0.0154995 14.1239 0 14.3762 0 15.5341C0 16.6911 0.0154995 16.9396 0.140464 17.7937C0.984219 23.6279 5.12646 28.5255 10.7412 30.3405C11.7515 30.6637 12.8103 30.8869 14.0164 31.0238C14.4853 31.0742 16.5128 31.0742 16.9817 31.0238C19.0663 30.7908 20.8265 30.2754 22.5683 29.3854C22.8356 29.2495 22.886 29.2136 22.8502 29.1835C22.0005 28.0582 21.158 26.9274 20.3228 25.7913L17.8458 22.4399L14.7429 17.8344C13.7109 16.2924 12.6682 14.7576 11.6149 13.23C11.6043 13.23 11.5907 15.2769 11.5849 17.7733C11.5743 22.1458 11.5743 22.3234 11.519 22.4243C11.4662 22.5464 11.3713 22.6453 11.2517 22.7029C11.1558 22.7485 11.0696 22.7582 10.6114 22.7582H10.0873L9.95069 22.6728C9.86529 22.6177 9.79581 22.541 9.7492 22.4506L9.68332 22.3137L9.68817 16.2271L9.69882 10.1406L9.79473 10.0193C9.85677 9.94548 9.932 9.88392 10.0166 9.83776C10.1435 9.77661 10.1938 9.76691 10.7179 9.76691C11.3331 9.76691 11.4348 9.79117 11.5965 9.96879C12.8535 11.8419 14.0996 13.7223 15.3348 15.6098C17.3488 18.6691 20.098 22.8436 21.4494 24.8916L23.907 28.6177L24.0281 28.5371C25.2088 27.7502 26.2791 26.8085 27.2104 25.737C29.1626 23.4977 30.4296 20.7423 30.8595 17.8005C30.9845 16.9463 31 16.693 31 15.5361C31 14.3791 30.9845 14.1307 30.8595 13.2766C30.0158 7.44235 25.8735 2.54476 20.2588 0.728787C19.2095 0.395906 18.1294 0.169273 17.0349 0.0522871C16.7414 0.0221989 14.7381 -0.0137129 14.4862 0.012493L14.4853 0.0105518ZM20.8275 9.40294C20.8996 9.43826 20.964 9.48773 21.0167 9.54841C21.0695 9.60909 21.1095 9.67976 21.1346 9.75623C21.1607 9.83776 21.1656 11.5256 21.1607 15.3274L21.1501 20.786L20.192 19.3107L19.2281 17.8344V13.8715C19.2281 11.3024 19.2388 9.86202 19.2523 9.79117C19.2998 9.62871 19.4085 9.49117 19.5555 9.40779C19.6757 9.34664 19.7222 9.34179 20.2017 9.34179C20.6502 9.34179 20.7267 9.34664 20.8275 9.40294Z"
          fill="#D9D9D9"></path>
      </svg>

      <div class="group flex-col">
        <h4>Next.js</h4>
        <p>React framework</p>
      </div>
    </li>
    <li>
      <svg
        width="30"
        height="33"
        viewBox="0 0 30 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.8622 32.9998C14.4231 32.9998 13.9895 32.8843 13.6035 32.6601L9.60128 30.2704C9.00264 29.9335 9.29446 29.8139 9.49218 29.7451C10.2885 29.4646 10.4508 29.4014 11.3017 28.9133C11.3917 28.8624 11.509 28.8803 11.6004 28.9339L14.6754 30.775C14.733 30.8047 14.7968 30.8202 14.8615 30.8202C14.9262 30.8202 14.99 30.8047 15.0476 30.775L27.0395 23.7941C27.0949 23.76 27.1408 23.7121 27.1727 23.6551C27.2047 23.5981 27.2217 23.5338 27.2222 23.4683V9.5134C27.2226 9.44646 27.2058 9.38057 27.1732 9.32222C27.1407 9.26386 27.0937 9.21507 27.0367 9.18065L15.0504 2.20665C14.9942 2.17381 14.9305 2.15651 14.8656 2.15651C14.8007 2.15651 14.737 2.17381 14.6808 2.20665L2.69446 9.18065C2.63716 9.21432 2.58955 9.26245 2.55632 9.32032C2.52308 9.37818 2.50536 9.44378 2.50491 9.51065V23.4641C2.50491 23.5975 2.57718 23.7254 2.69173 23.7886L5.97537 25.7013C7.759 26.6005 8.84855 25.5418 8.84855 24.4761V10.7041C8.84781 10.658 8.8563 10.6121 8.87353 10.5693C8.89076 10.5265 8.91637 10.4876 8.94883 10.455C8.98128 10.4224 9.01992 10.3968 9.06244 10.3796C9.10495 10.3624 9.15047 10.354 9.19627 10.3549H10.7154C10.9049 10.3549 11.0604 10.5061 11.0604 10.7041V24.4816C11.0604 26.8796 9.76491 28.256 7.50946 28.256C6.81537 28.256 6.26855 28.256 4.744 27.4998L1.59809 25.671C1.21571 25.4458 0.89845 25.1237 0.677876 24.7365C0.457302 24.3493 0.341097 23.9107 0.34082 23.4641V9.51065C0.34082 8.60315 0.82082 7.75477 1.59809 7.3079L13.6035 0.324271C13.9902 0.111497 14.4237 0 14.8642 0C15.3047 0 15.7382 0.111497 16.1249 0.324271L28.114 7.30927C28.8885 7.76165 29.3713 8.6059 29.3713 9.5134V23.4683C29.3703 23.9141 29.2537 24.3519 29.0332 24.7383C28.8127 25.1247 28.4958 25.4462 28.114 25.671L16.1249 32.6546C15.7404 32.8775 15.3043 32.9942 14.8608 32.9929L14.8622 32.9998ZM18.5658 23.3844C13.3185 23.3844 12.2195 20.9561 12.2195 18.9184C12.2195 18.7259 12.3735 18.5705 12.5658 18.5705H14.1149C14.2867 18.5705 14.4299 18.6956 14.4572 18.8661C14.6917 20.4584 15.3885 21.2614 18.5617 21.2614C21.0885 21.2614 22.1631 20.6853 22.1631 19.3336C22.1631 18.5554 21.8563 17.9779 17.9304 17.5901C14.6467 17.2629 12.6176 16.5341 12.6176 13.8859C12.6176 11.4453 14.659 9.99327 18.0776 9.99327C21.9163 9.99327 23.8199 11.3366 24.0599 14.2241C24.0641 14.2727 24.0582 14.3217 24.0426 14.3678C24.027 14.414 24.0021 14.4564 23.9694 14.4923C23.9367 14.5283 23.8969 14.557 23.8527 14.5766C23.8084 14.5962 23.7605 14.6064 23.7122 14.6064H22.1535C22.0749 14.6068 21.9986 14.5798 21.9374 14.5299C21.8763 14.48 21.8341 14.4104 21.8181 14.3328C21.4431 12.6594 20.5363 12.1231 18.0722 12.1231C15.3135 12.1231 14.9917 13.0925 14.9917 13.8185C14.9917 14.6985 15.3695 14.957 19.0922 15.4534C22.7781 15.947 24.529 16.6428 24.529 19.2553C24.529 21.8884 22.3485 23.3995 18.5495 23.3995L18.5658 23.3844Z"
          fill="#D9D9D9"></path>
      </svg>

      <div class="group flex-col">
        <h4>Node.js</h4>
        <p>JavaScript runtime</p>
      </div>
    </li>
    <li>
      <svg
        width="56"
        height="33"
        viewBox="0 0 56 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M27.9999 0C20.6256 0 16.0409 3.6575 14.1904 11C16.9523 7.3425 20.1837 5.9675 23.8571 6.875C25.9561 7.3975 27.4751 8.91 29.1323 10.5875C31.839 13.3375 34.9047 16.5 41.8094 16.5C49.1837 16.5 53.7685 12.8425 55.619 5.5C52.8571 9.1575 49.6256 10.5325 45.9523 9.625C43.8532 9.1025 42.3618 7.59 40.6771 5.9125C37.9704 3.1625 34.9047 0 27.9999 0ZM14.1904 16.5C6.8161 16.5 2.23134 20.1575 0.380859 27.5C3.14276 23.8425 6.37419 22.4675 10.0475 23.375C12.1466 23.8975 13.638 25.41 15.3228 27.0875C18.0294 29.8375 21.0951 33 27.9999 33C35.3742 33 39.959 29.3425 41.8094 22C39.0475 25.6575 35.8161 27.0325 32.1428 26.125C30.0437 25.6025 28.5523 24.09 26.8675 22.4125C24.1609 19.6625 21.0951 16.5 14.1904 16.5Z"
          fill="#D9D9D9"></path>
      </svg>

      <div class="group flex-col">
        <h4>Tailwind</h4>
        <p>CSS framework</p>
      </div>
    </li>
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M31.6217 15.1016L17.8985 1.37676C17.5185 0.998202 17.004 0.785645 16.4677 0.785645C15.9313 0.785645 15.4168 0.998202 15.0369 1.37676L12.1879 4.22891L15.8022 7.84319C16.2283 7.69868 16.6865 7.67665 17.1246 7.77964C17.5626 7.88262 17.963 8.10647 18.2801 8.42572C18.5972 8.74498 18.8184 9.14683 18.9184 9.58556C19.0185 10.0243 18.9934 10.4823 18.846 10.9075L22.3299 14.3913C22.8505 14.2124 23.4167 14.2173 23.9341 14.4052C24.4516 14.5931 24.889 14.9526 25.1735 15.4239C25.458 15.8952 25.5724 16.4498 25.4976 16.9951C25.4228 17.5405 25.1633 18.0438 24.7624 18.4211C24.3615 18.7984 23.8435 19.0269 23.2946 19.0686C22.7456 19.1102 22.199 18.9625 21.7458 18.65C21.2926 18.3375 20.9602 17.8791 20.804 17.3512C20.6478 16.8233 20.6772 16.2579 20.8873 15.7491L17.6376 12.4993V21.0495C18.1314 21.2938 18.5265 21.7 18.7571 22.2003C18.9877 22.7006 19.0398 23.2649 18.9048 23.799C18.7698 24.3331 18.4558 24.8048 18.0151 25.1355C17.5745 25.4661 17.0338 25.6357 16.4833 25.6161C15.9327 25.5964 15.4055 25.3886 14.9896 25.0274C14.5736 24.6662 14.2941 24.1733 14.1975 23.6309C14.101 23.0885 14.1932 22.5294 14.4589 22.0468C14.7246 21.5642 15.1477 21.1872 15.6576 20.9788V12.3516C15.3633 12.2315 15.0957 12.0541 14.8703 11.8299C14.645 11.6056 14.4663 11.3389 14.3447 11.0452C14.2231 10.7514 14.161 10.4365 14.162 10.1186C14.1629 9.80065 14.2269 9.48608 14.3502 9.19305L10.7878 5.62748L1.37804 15.0356C0.998995 15.4156 0.786133 15.9305 0.786133 16.4672C0.786133 17.0039 0.998995 17.5188 1.37804 17.8988L15.1013 31.6205C15.4813 31.999 15.9958 32.2116 16.5321 32.2116C17.0685 32.2116 17.5829 31.999 17.9629 31.6205L31.6217 17.9616C32.0008 17.5816 32.2137 17.0668 32.2137 16.5301C32.2137 15.9933 32.0008 15.4785 31.6217 15.0985"
          fill="#D9D9D9"></path>
      </svg>

      <div class="group flex-col">
        <h4>GIT</h4>
        <p>Versionskontrol</p>
      </div>
    </li>
    <li>
      <svg
        width="31"
        height="33"
        viewBox="0 0 31 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.21578 20.9686C0.923154 20.9686 -0.366446 18.3396 1.03889 16.5329L13.0338 1.10811C13.8384 0.0741114 15.5 0.640611 15.5 1.95236V12.0311H27.7843C30.0756 12.0311 31.3665 14.6601 29.9612 16.4669L17.9663 31.8916C17.1616 32.9256 15.5 32.3591 15.5 31.0487V20.9686H3.21578Z"
          fill="#D9D9D9"></path>
      </svg>

      <div class="group flex-col">
        <h4>Supabase</h4>
        <p>Backend platform</p>
      </div>
    </li>
  </ul>
  <h3>Design værktøjer</h3>
  <ul class="flex">
    <li>
      <svg
        width="22"
        height="32"
        viewBox="0 0 22 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          opacity="0.6"
          d="M11.0158 0.00537109H5.66756C4.24932 0.00537109 2.88916 0.567114 1.88631 1.56702C0.883463 2.56693 0.320068 3.9231 0.320068 5.33718C0.320068 6.75126 0.883463 8.10743 1.88631 9.10734C2.88916 10.1072 4.24932 10.669 5.66756 10.669H11.0158V0.00537109Z"
          fill="#D9D9D9"></path>
        <path
          opacity="0.4"
          d="M11.0158 10.6689H5.66749C4.24946 10.6689 2.88951 11.2306 1.88681 12.2304C0.884111 13.2301 0.320801 14.5861 0.320801 16C0.320801 17.4138 0.884111 18.7698 1.88681 19.7695C2.88951 20.7693 4.24946 21.331 5.66749 21.331H11.0158V10.6689Z"
          fill="#D9D9D9"></path>
        <path
          d="M21.7091 15.9998C21.7091 17.4139 21.1457 18.77 20.1429 19.7699C19.14 20.7698 17.7799 21.3316 16.3616 21.3316C14.9434 21.3316 13.5833 20.7698 12.5804 19.7699C11.5776 18.77 11.0142 17.4139 11.0142 15.9998C11.0142 14.5857 11.5776 13.2295 12.5804 12.2296C13.5833 11.2297 14.9434 10.668 16.3616 10.668C17.7799 10.668 19.14 11.2297 20.1429 12.2296C21.1457 13.2295 21.7091 14.5857 21.7091 15.9998Z"
          fill="#D9D9D9"></path>
        <path
          opacity="0.2"
          d="M5.6676 21.3327H11.0159V26.6637C11.0156 27.7179 10.7018 28.7484 10.1141 29.6248C9.52652 30.5012 8.69146 31.1843 7.71455 31.5876C6.73763 31.9909 5.66273 32.0963 4.62572 31.8906C3.58871 31.6848 2.63617 31.1771 1.88852 30.4317C1.14087 29.6862 0.63168 28.7364 0.425325 27.7025C0.218971 26.6685 0.324719 25.5968 0.729198 24.6227C1.13368 23.6487 1.81873 22.8161 2.69774 22.2302C3.57675 21.6443 4.61026 21.333 5.6676 21.3327Z"
          fill="#D9D9D9"></path>
        <path
          opacity="0.8"
          d="M11.0142 0.00537109H16.3608C17.7791 0.00537109 19.1392 0.567114 20.1421 1.56702C21.1449 2.56693 21.7083 3.9231 21.7083 5.33718C21.7083 6.75126 21.1449 8.10743 20.1421 9.10734C19.1392 10.1072 17.7791 10.669 16.3608 10.669H11.0142V0.00537109Z"
          fill="#D9D9D9"></path>
      </svg>

      <div class="group flex-col">
        <h4>Figma</h4>
        <p>Design værktøj</p>
      </div>
    </li>
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.84358 0.825195C2.61241 0.825195 0 3.43787 0 6.66929V27.1561C0 30.3875 2.61241 33.0002 5.84358 33.0002H27.1564C30.3876 33.0002 33 30.3875 33 27.1561V6.66929C33 3.43787 30.3876 0.825195 27.1564 0.825195H5.84358ZM11.8251 9.00662C12.9525 9.00662 13.8876 9.14377 14.6574 9.43252C15.3477 9.66708 15.9771 10.0524 16.5 10.5605C16.943 11.005 17.2853 11.5394 17.5039 12.1277C17.7102 12.7052 17.8197 13.2964 17.8197 13.9151C17.8197 15.0976 17.5447 16.0739 16.9947 16.8439C16.4451 17.6137 15.6753 18.1914 14.7814 18.5214C13.8463 18.8654 12.8151 18.9889 11.6877 18.9889C11.3577 18.9889 11.1372 18.9889 10.9998 18.9752C10.8624 18.9615 10.6698 18.9615 10.4087 18.9615V23.3753C10.4223 23.4714 10.3537 23.5542 10.2576 23.5679H7.59C7.48017 23.5679 7.42552 23.5124 7.42552 23.3887V9.2402C7.42552 9.14403 7.46677 9.0886 7.56293 9.0886C7.79677 9.0886 8.01668 9.0886 8.33276 9.07519C8.66276 9.06127 9.00642 9.06179 9.37767 9.04787C9.74892 9.0342 10.1478 9.03395 10.5739 9.02028C11.0003 9.00636 11.4126 9.00662 11.8251 9.00662ZM12.1319 11.7147C12.0617 11.7133 11.9914 11.7135 11.9213 11.7152C11.5639 11.7152 11.2476 11.7155 10.9862 11.7294C10.7113 11.7155 10.519 11.7291 10.4228 11.7428V16.3628C10.6152 16.3767 10.7936 16.3901 10.9586 16.3901H11.6877C12.2239 16.3901 12.7602 16.3076 13.2688 16.1426C13.7089 16.0189 14.0938 15.7574 14.3962 15.4138C14.685 15.0699 14.8227 14.6027 14.8227 13.9976C14.8353 13.568 14.7257 13.1437 14.5066 12.774C14.2728 12.4167 13.9425 12.1414 13.5437 11.9903C13.0984 11.8098 12.6217 11.7242 12.1319 11.7147ZM23.6638 12.4167C24.2277 12.4167 24.8052 12.4574 25.3687 12.5399C25.7812 12.5949 26.1798 12.7055 26.5511 12.8568C26.6063 12.8705 26.6612 12.9251 26.6885 12.98C26.7024 13.0349 26.7163 13.0901 26.7163 13.145V15.3864C26.7165 15.4131 26.7103 15.4395 26.6984 15.4633C26.6865 15.4872 26.6692 15.5079 26.6478 15.5239C26.524 15.5514 26.4552 15.5514 26.4003 15.5239C25.9878 15.3039 25.5474 15.1529 25.0797 15.0567C24.5711 14.9466 24.0624 14.8775 23.5401 14.8775C23.265 14.8636 22.976 14.9054 22.7148 14.9739C22.5359 15.0152 22.3848 15.1116 22.2887 15.249C22.2201 15.3591 22.1788 15.4965 22.1788 15.6203C22.1788 15.744 22.234 15.8678 22.3165 15.9776C22.4403 16.1289 22.605 16.253 22.7837 16.3494C23.1025 16.5142 23.4283 16.6653 23.76 16.8024C24.5025 17.0499 25.2174 17.394 25.8774 17.8065C26.3312 18.0953 26.7024 18.4805 26.9636 18.9479C27.1848 19.3864 27.2936 19.873 27.2802 20.364C27.2913 21.014 27.1041 21.6519 26.7434 22.1927C26.36 22.7415 25.825 23.1667 25.2038 23.4163C24.5298 23.705 23.7048 23.8564 22.7148 23.8564C22.0822 23.8564 21.4639 23.8014 20.8452 23.6777C20.3602 23.5939 19.8886 23.4459 19.4427 23.2376C19.3465 23.1827 19.2774 23.0863 19.2911 22.9762V20.5839C19.2911 20.5427 19.3047 20.4875 19.346 20.4602C19.3872 20.4326 19.4285 20.4468 19.4697 20.4741C19.9994 20.7866 20.5748 21.014 21.1749 21.148C21.6975 21.2855 22.2477 21.354 22.7978 21.354C23.3202 21.354 23.6914 21.2852 23.9389 21.1614C24.1588 21.0653 24.3099 20.8314 24.3099 20.5839C24.3099 20.3916 24.2001 20.2124 23.9799 20.0335C23.76 19.8549 23.3063 19.6489 22.6326 19.3877C21.9413 19.1442 21.2849 18.8114 20.6799 18.3977C20.249 18.0907 19.8921 17.6914 19.635 17.229C19.4156 16.7948 19.307 16.3129 19.3189 15.8265C19.3189 15.2354 19.4837 14.6715 19.7861 14.1629C20.1297 13.613 20.6389 13.1729 21.2303 12.898C21.8764 12.568 22.6872 12.4167 23.6638 12.4167Z"
          fill="#D9D9D9"></path>
      </svg>
      <div class="group flex-col">
        <h4>Photoshop</h4>
        <p>Billedredigering</p>
      </div>
    </li>
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M27.1554 0.412603H5.84462C5.0768 0.411585 4.31634 0.562065 3.60678 0.855424C2.89722 1.14878 2.25251 1.57925 1.70958 2.12218C1.16666 2.6651 0.736185 3.30981 0.442826 4.01937C0.149467 4.72893 -0.00101296 5.4894 5.13164e-06 6.25721V26.743C-0.00101296 27.5108 0.149467 28.2713 0.442826 28.9808C0.736185 29.6904 1.16666 30.3351 1.70958 30.878C2.25251 31.421 2.89722 31.8514 3.60678 32.1448C4.31634 32.4381 5.0768 32.5886 5.84462 32.5876H27.1554C27.9232 32.5886 28.6837 32.4381 29.3932 32.1448C30.1028 31.8514 30.7475 31.421 31.2904 30.878C31.8334 30.3351 32.2638 29.6904 32.5572 28.9808C32.8505 28.2713 33.001 27.5108 33 26.743V6.25721C33.001 5.4894 32.8505 4.72893 32.5572 4.01937C32.2638 3.30981 31.8334 2.6651 31.2904 2.12218C30.7475 1.57925 30.1028 1.14878 29.3932 0.855424C28.6837 0.562065 27.9232 0.411585 27.1554 0.412603ZM20.1713 23.1001H17.2966C17.2482 23.1038 17.2 23.0907 17.1601 23.063C17.1201 23.0353 17.091 22.9947 17.0775 22.948L15.9509 19.6635H10.8281L9.79688 22.8939C9.78561 22.9524 9.75296 23.0046 9.7053 23.0403C9.65764 23.076 9.59838 23.0928 9.53907 23.0872H6.96094C6.81141 23.0872 6.77016 23.0047 6.81141 22.8294L11.22 10.0935C11.2613 9.95424 11.3025 9.80471 11.3566 9.63971C11.413 9.34488 11.4406 9.04527 11.4391 8.7451C11.4352 8.71047 11.4445 8.67564 11.465 8.64748C11.4855 8.61931 11.5158 8.59987 11.55 8.59299H15.1104C15.2213 8.59299 15.2754 8.63424 15.2909 8.70385L20.3079 22.8655C20.3491 23.0176 20.3079 23.0872 20.1713 23.0872V23.1001ZM24.915 22.9454C24.915 23.0975 24.8609 23.1646 24.7371 23.1646H22.0404C22.0116 23.1667 21.9827 23.1625 21.9558 23.152C21.9289 23.1416 21.9047 23.1253 21.8849 23.1043C21.8651 23.0833 21.8503 23.0581 21.8415 23.0306C21.8327 23.0031 21.8302 22.974 21.8341 22.9454V12.3467C21.8341 12.2101 21.8909 12.156 22.0146 12.156H24.75C24.8738 12.156 24.9279 12.223 24.9279 12.3467L24.915 22.9454ZM24.6263 10.5189C24.4641 10.6835 24.2687 10.8117 24.0531 10.8949C23.8375 10.978 23.6066 11.0142 23.3759 11.001C23.15 11.0059 22.9253 10.9659 22.7151 10.8831C22.5048 10.8003 22.3131 10.6765 22.1513 10.5189C21.8348 10.175 21.6671 9.71998 21.6846 9.25299C21.675 9.02645 21.7134 8.80043 21.7974 8.5898C21.8814 8.37918 22.009 8.18872 22.1719 8.03096C22.5013 7.71794 22.9395 7.54509 23.3939 7.54885C23.6249 7.53691 23.8558 7.57366 24.0717 7.65671C24.2875 7.73977 24.4835 7.86728 24.6469 8.03096C24.9507 8.36413 25.1134 8.80225 25.1006 9.25299C25.1099 9.48495 25.0726 9.71641 24.9912 9.93379C24.9097 10.1512 24.7856 10.3501 24.6263 10.5189ZM15.1259 16.8714H11.6325C11.8388 16.2939 12.045 15.6467 12.2384 14.9455C12.4317 14.2442 12.6638 13.5714 12.87 12.9114C13.0578 12.3291 13.2136 11.7369 13.3366 11.1376H13.365C13.4604 11.4676 13.5584 11.826 13.6666 12.2101C13.7749 12.5942 13.9013 13.0067 14.0379 13.4347C14.1745 13.8627 14.2957 14.2726 14.4375 14.698C14.5793 15.1234 14.6953 15.5101 14.8088 15.8814C14.9222 16.2526 15.0434 16.5826 15.1259 16.8714Z"
          fill="#D9D9D9"></path>
      </svg>
      <div class="group flex-col">
        <h4>Illustrator</h4>
        <p>Vektorgrafik</p>
      </div>
    </li>
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.25401 0.399414C4.70121 0.399414 3.21201 1.01626 2.11401 2.11426C1.01602 3.21225 0.39917 4.70145 0.39917 6.25425V26.7462C0.39917 28.299 1.01602 29.7882 2.11401 30.8862C3.21201 31.9842 4.70121 32.601 6.25401 32.601H26.7459C28.2987 32.601 29.7879 31.9842 30.8859 30.8862C31.9839 29.7882 32.6008 28.299 32.6008 26.7462V6.25425C32.6008 4.70145 31.9839 3.21225 30.8859 2.11426C29.7879 1.01626 28.2987 0.399414 26.7459 0.399414H6.25401ZM9.18143 8.44982H7.71772V23.0869H10.6451V18.6958H12.8407C13.5135 18.6958 14.1796 18.5633 14.8012 18.3058C15.4227 18.0484 15.9875 17.671 16.4632 17.1953C16.9389 16.7196 17.3163 16.1548 17.5737 15.5333C17.8312 14.9117 17.9637 14.2456 17.9637 13.5728C17.9637 12.9 17.8312 12.2339 17.5737 11.6123C17.3163 10.9908 16.9389 10.426 16.4632 9.9503C15.9875 9.47459 15.4227 9.09724 14.8012 8.83978C14.1796 8.58233 13.5135 8.44982 12.8407 8.44982H9.18143ZM12.8407 15.7684H10.6451V11.3772H12.8407C13.423 11.3772 13.9815 11.6086 14.3932 12.0203C14.8049 12.4321 15.0363 12.9905 15.0363 13.5728C15.0363 14.1551 14.8049 14.7136 14.3932 15.1253C13.9815 15.537 13.423 15.7684 12.8407 15.7684ZM20.1593 12.1091V23.0869H23.0867V16.8661C23.3581 16.3789 23.7439 15.965 24.2108 15.6601C24.7626 15.3058 25.5589 15.0365 26.7459 15.0365V12.1091C25.3174 12.1091 24.101 12.396 23.0867 12.9288V12.1091H20.1593Z"
          fill="#D9D9D9"></path>
      </svg>
      <div class="group flex-col">
        <h4>Premiere Pro</h4>
        <p>Videoredigering</p>
      </div>
    </li>
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M24.4828 16.1385C24.3955 15.8725 24.2388 15.6347 24.0289 15.4496C23.8189 15.2645 23.5633 15.1389 23.2885 15.0856C23.0023 15.0387 22.7104 15.0387 22.4242 15.0856C22.2125 15.1269 22.0125 15.2145 21.8386 15.3422C21.6647 15.4699 21.5212 15.6345 21.4185 15.8242C21.2593 16.1065 21.1528 16.4153 21.1042 16.7356H24.3571C24.5142 16.7356 24.5614 16.7356 24.5456 16.5156C24.5401 16.3878 24.519 16.2612 24.4828 16.1385ZM24.4828 16.1385C24.3955 15.8725 24.2388 15.6347 24.0289 15.4496C23.8189 15.2645 23.5633 15.1389 23.2885 15.0856C23.0023 15.0387 22.7104 15.0387 22.4242 15.0856C22.2125 15.1269 22.0125 15.2145 21.8386 15.3422C21.6647 15.4699 21.5212 15.6345 21.4185 15.8242C21.2593 16.1065 21.1528 16.4153 21.1042 16.7356H24.3571C24.5142 16.7356 24.5614 16.7356 24.5456 16.5156C24.5401 16.3878 24.519 16.2612 24.4828 16.1385ZM24.4828 16.1385C24.3955 15.8725 24.2388 15.6347 24.0289 15.4496C23.8189 15.2645 23.5633 15.1389 23.2885 15.0856C23.0023 15.0387 22.7104 15.0387 22.4242 15.0856C22.2125 15.1269 22.0125 15.2145 21.8386 15.3422C21.6647 15.4699 21.5212 15.6345 21.4185 15.8242C21.2593 16.1065 21.1528 16.4153 21.1042 16.7356H24.3571C24.5142 16.7356 24.5614 16.7356 24.5456 16.5156C24.5401 16.3878 24.519 16.2612 24.4828 16.1385ZM24.4828 16.1385C24.3955 15.8725 24.2388 15.6347 24.0289 15.4496C23.8189 15.2645 23.5633 15.1389 23.2885 15.0856C23.0023 15.0387 22.7104 15.0387 22.4242 15.0856C22.2125 15.1269 22.0125 15.2145 21.8386 15.3422C21.6647 15.4699 21.5212 15.6345 21.4185 15.8242C21.2593 16.1065 21.1528 16.4153 21.1042 16.7356H24.3571C24.5142 16.7356 24.5614 16.7356 24.5456 16.5156C24.5401 16.3878 24.519 16.2612 24.4828 16.1385ZM24.3571 0.785645H8.64279C6.55894 0.785645 4.56045 1.61345 3.08695 3.08695C1.61345 4.56045 0.785645 6.55894 0.785645 8.64279V24.3571C0.785645 26.4409 1.61345 28.4394 3.08695 29.9129C4.56045 31.3864 6.55894 32.2142 8.64279 32.2142H24.3571C26.4409 32.2142 28.4394 31.3864 29.9129 29.9129C31.3864 28.4394 32.2142 26.4409 32.2142 24.3571V8.64279C32.2142 6.55894 31.3864 4.56045 29.9129 3.08695C28.4394 1.61345 26.4409 0.785645 24.3571 0.785645ZM17.6471 22.7856H15.1014C15.0577 22.7923 15.0131 22.7856 14.9733 22.7666C14.9336 22.7475 14.9004 22.7169 14.8782 22.6788C14.8635 22.6537 14.8539 22.6259 14.8499 22.5971C14.7242 22.2042 14.5828 21.8271 14.4571 21.4342C14.3314 21.0414 14.1428 20.5385 14.0014 20.0828C14.0014 19.8314 13.7971 19.7999 13.5771 19.7999H9.61707C9.44422 19.7999 9.44422 19.7999 9.38136 19.9885C9.3185 20.1771 9.22422 20.5071 9.12993 20.7742L8.8785 21.5914L8.5485 22.5499C8.55697 22.5914 8.55697 22.6342 8.5485 22.6756C8.5485 22.8799 8.29707 22.8485 8.13993 22.8485H6.11279C5.87707 22.8485 5.7985 22.7385 5.89279 22.5185C5.98707 22.2985 6.06564 22.0471 6.14422 21.8271L6.47422 20.8214L7.08707 19.0928C7.25993 18.6214 7.41707 18.1342 7.57422 17.6471C7.73136 17.1599 7.87279 16.8142 8.02993 16.3899L8.35993 15.3999L8.94136 13.8285L9.41279 12.4456C9.56993 12.0056 9.72707 11.5656 9.8685 11.1099C9.89057 10.8957 9.89057 10.6798 9.8685 10.4656C9.8685 10.1356 9.8685 10.1356 10.1985 10.1356H13.0428C13.2942 10.1356 13.2785 10.1356 13.3571 10.3714C13.4356 10.6071 13.6399 11.1414 13.7656 11.5185C13.8914 11.8956 14.0014 12.1785 14.1114 12.4928L14.4885 13.5142L14.8656 14.6142C15.0228 15.0385 15.1799 15.4471 15.3214 15.8714L15.7299 17.0028C15.8556 17.3799 15.9971 17.7571 16.1385 18.1499C16.2799 18.5428 16.3271 18.7314 16.4371 19.0142C16.5471 19.2971 16.6571 19.6428 16.7828 19.9571C16.9085 20.2714 16.9871 20.5542 17.0971 20.8528L17.5528 22.1256L17.7414 22.6756C17.8042 22.6599 17.7571 22.7856 17.6471 22.7856ZM27.0756 18.0714C27.083 18.2128 27.083 18.3542 27.0756 18.4956C27.0756 18.6371 26.8399 18.6842 26.6985 18.6842H21.1514C21.2079 19.1996 21.4342 19.6805 21.7956 20.0514C22.4505 20.4536 23.1937 20.6896 23.9605 20.7389C24.7274 20.7882 25.4947 20.6493 26.1956 20.3342C26.3214 20.3342 26.3842 20.3342 26.3842 20.4599V22.2356C26.3842 22.5185 26.2742 22.5499 26.0385 22.6442L25.4728 22.8171C25.2931 22.8701 25.109 22.9069 24.9228 22.9271C24.5299 22.9271 24.1371 23.0371 23.7442 23.0528C23.3514 23.0685 23.2099 23.0528 22.9428 23.0528H22.7856C22.4714 23.0528 22.1414 23.0528 21.8428 22.9428C20.976 22.7697 20.1848 22.3302 19.5799 21.6856C19.1962 21.2889 18.8968 20.8185 18.6999 20.3028C18.541 19.9264 18.4352 19.5298 18.3856 19.1242C18.3631 18.6635 18.3631 18.202 18.3856 17.7414C18.4092 17.1741 18.5161 16.6131 18.6999 16.0756C18.8545 15.6284 19.0714 15.2051 19.3442 14.8185C19.7023 14.279 20.1881 13.8363 20.7585 13.5299C21.0047 13.3875 21.2614 13.267 21.5285 13.1685C21.8186 13.0995 22.1124 13.047 22.4085 13.0114C22.6756 12.9956 22.9428 12.9956 23.2099 13.0114C23.6038 13.0176 23.9915 13.07 24.3728 13.1685C24.7185 13.2659 25.0485 13.4021 25.3628 13.5771C25.8467 13.8546 26.2481 14.256 26.5256 14.7399C26.6828 15.0228 26.8085 15.3056 26.9342 15.5885C27.0013 15.7886 27.0536 15.9929 27.0914 16.2014C27.2318 16.8153 27.2479 17.4511 27.1385 18.0714H27.0756ZM23.2256 15.1642C22.9395 15.1173 22.6475 15.1173 22.3614 15.1642C22.1496 15.2055 21.9496 15.2931 21.7757 15.4208C21.6018 15.5485 21.4584 15.7131 21.3556 15.9028C21.1965 16.185 21.09 16.4939 21.0414 16.8142H24.3571C24.5142 16.8142 24.5614 16.8142 24.5456 16.5942C24.5326 16.4544 24.5009 16.317 24.4514 16.1856C24.3739 15.9149 24.2251 15.67 24.0205 15.4765C23.8159 15.283 23.5631 15.148 23.2885 15.0856L23.2256 15.1642ZM24.4199 16.2171C24.3327 15.9511 24.176 15.7133 23.966 15.5282C23.756 15.3431 23.5004 15.2174 23.2256 15.1642C22.9395 15.1173 22.6475 15.1173 22.3614 15.1642C22.1496 15.2055 21.9496 15.2931 21.7757 15.4208C21.6018 15.5485 21.4584 15.7131 21.3556 15.9028C21.1965 16.185 21.09 16.4939 21.0414 16.8142H24.3571C24.5142 16.8142 24.5614 16.8142 24.5456 16.5942C24.5456 16.4392 24.5247 16.2873 24.4828 16.1385L24.4199 16.2171ZM24.4199 16.2171C24.3327 15.9511 24.176 15.7133 23.966 15.5282C23.756 15.3431 23.5004 15.2174 23.2256 15.1642C22.9395 15.1173 22.6475 15.1173 22.3614 15.1642C22.1496 15.2055 21.9496 15.2931 21.7757 15.4208C21.6018 15.5485 21.4584 15.7131 21.3556 15.9028C21.1965 16.185 21.09 16.4939 21.0414 16.8142H24.3571C24.5142 16.8142 24.5614 16.8142 24.5456 16.5942C24.5456 16.4392 24.5247 16.2873 24.4828 16.1385L24.4199 16.2171ZM24.4199 16.2171C24.3327 15.9511 24.176 15.7133 23.966 15.5282C23.756 15.3431 23.5004 15.2174 23.2256 15.1642C22.9395 15.1173 22.6475 15.1173 22.3614 15.1642C22.1496 15.2055 21.9496 15.2931 21.7757 15.4208C21.6018 15.5485 21.4584 15.7131 21.3556 15.9028C21.1965 16.185 21.09 16.4939 21.0414 16.8142H24.3571C24.5142 16.8142 24.5614 16.8142 24.5456 16.5942C24.5456 16.4392 24.5247 16.2873 24.4828 16.1385L24.4199 16.2171ZM24.4199 16.2171C24.3327 15.9511 24.176 15.7133 23.966 15.5282C23.756 15.3431 23.5004 15.2174 23.2256 15.1642C22.9395 15.1173 22.6475 15.1173 22.3614 15.1642C22.1496 15.2055 21.9496 15.2931 21.7757 15.4208C21.6018 15.5485 21.4584 15.7131 21.3556 15.9028C21.1965 16.185 21.09 16.4939 21.0414 16.8142H24.3571C24.5142 16.8142 24.5614 16.8142 24.5456 16.5942C24.5456 16.4392 24.5247 16.2873 24.4828 16.1385L24.4199 16.2171Z"
          fill="#D9D9D9"></path>
        <path
          d="M10.4025 17.0028L11.5 12.4928L13.0428 17.0028H10.4025Z"
          fill="#D9D9D9"></path>
      </svg>
      <div class="group flex-col">
        <h4>After Effects</h4>
        <p>Motion graphics</p>
      </div>
    </li>
  </ul>
  <h3>CMS</h3>
  <ul class="flex">
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.5001 0.853516C7.87882 0.853516 0.853516 7.87882 0.853516 16.5001C0.853516 25.1213 7.87882 32.1466 16.5001 32.1466C25.1213 32.1466 32.1466 25.1213 32.1466 16.5001C32.1466 7.87882 25.1213 0.853516 16.5001 0.853516ZM2.43382 16.5001C2.43382 14.466 2.87192 12.5258 3.65425 10.7734L10.3666 29.1581C5.67265 26.8737 2.43382 22.0702 2.43382 16.5001ZM16.5001 30.5663C15.1232 30.5663 13.7932 30.3629 12.5258 29.9874L16.7504 17.7205L21.0689 29.5649C21.1002 29.6275 21.1314 29.7058 21.1627 29.7527C19.7076 30.2847 18.143 30.5663 16.5001 30.5663ZM18.4402 9.89722C19.2852 9.85028 20.0518 9.7564 20.0518 9.7564C20.8029 9.66252 20.7246 8.55162 19.958 8.59856C19.958 8.59856 17.6736 8.77067 16.2028 8.77067C14.8259 8.77067 12.4945 8.59856 12.4945 8.59856C11.7435 8.56727 11.6496 9.72511 12.4163 9.77205C12.4163 9.77205 13.1361 9.86593 13.8871 9.91287L16.0776 15.9211L12.9952 25.1526L7.87882 9.89722C8.72373 9.86593 9.49041 9.77205 9.49041 9.77205C10.2414 9.67817 10.1632 8.56727 9.39653 8.61421C9.39653 8.61421 7.11214 8.78632 5.64136 8.78632C5.37537 8.78632 5.06244 8.78632 4.73386 8.77067C7.2686 4.95291 11.5871 2.43382 16.5001 2.43382C20.1614 2.43382 23.4941 3.82636 25.9975 6.1264C25.9349 6.1264 25.8724 6.11076 25.8098 6.11076C24.4329 6.11076 23.4471 7.31554 23.4471 8.61421C23.4471 9.77205 24.1199 10.7578 24.824 11.9156C25.356 12.8544 25.9819 14.0592 25.9819 15.796C25.9819 17.0008 25.5125 18.3933 24.9179 20.3491L23.5097 25.0431L18.4402 9.89722ZM28.8452 9.7564C30.6018 12.9729 31.0337 16.7481 30.0489 20.2782C29.0641 23.8084 26.7403 26.8148 23.5723 28.6574L27.8751 16.2341C28.6731 14.2313 28.9391 12.6197 28.9391 11.1959C28.9391 10.6795 28.9078 10.1945 28.8452 9.7564Z"
          fill="#D9D9D9"></path>
      </svg>
      <div class="group flex-col">
        <h4>WordPress</h4>
      </div>
    </li>
    <li>
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.5 0C7.3865 0 0 7.3865 0 16.5C0 25.6108 7.3865 33 16.5 33C25.6135 33 33 25.6135 33 16.5C33 7.38925 25.6135 0 16.5 0ZM12.375 23.375H9.625V9.625H12.375V23.375ZM23.375 23.375H15.125V20.625H23.375V23.375ZM23.375 17.875H15.125V15.125H23.375V17.875ZM23.375 12.375H15.125V9.625H23.375V12.375Z"
          fill="#D9D9D9"></path>
      </svg>
      <div class="group flex-col">
        <h4>Elementor</h4>
      </div>
    </li>
    <li>
      <svg
        width="42"
        height="27"
        viewBox="0 0 42 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M41.8621 0.414551L28.5312 26.5851H16.039L21.5967 15.7307H21.3401C16.7754 21.7393 9.90139 25.6827 0.137939 26.5872V15.8923C0.137939 15.8923 6.40073 15.5356 10.0641 11.6257H0.137939V0.414551H11.2845V9.65506H11.5411L16.1016 0.414551H24.5507V9.59H24.8073L29.495 0.414551H41.8621Z"
          fill="#D9D9D9"></path>
      </svg>
      <div class="group flex-col">
        <h4>Webflow</h4>
      </div>
    </li>
    <li>
      <svg
        width="35"
        height="30"
        viewBox="0 0 35 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M34.6939 1.52183C35.0716 0.840926 35.2216 0.30829 34.4158 0.398133H29.3408C27.9374 0.318718 25.9717 2.20881 24.0573 4.47146C23.2705 2.3135 22.2481 0.528996 20.0947 0.538595H14.2762C14.2762 0.538595 12.4409 0.510626 10.9801 4.40785C10.4574 3.25433 7.38308 0.768002 6.3676 0.398686C5.35206 0.0293001 1.16048 0.124599 0.420486 0.327902C-0.319502 0.531068 0.142401 1.17067 0.142401 1.17067C1.44485 2.66893 5.46642 12.5587 10.4223 14.9387L3.61847 27.7173C3.12136 28.4044 3.24509 28.8856 4.0008 29.157L10.0838 29.0517C11.4687 28.8626 12.4496 28.1577 13.1427 27.0852L17.5495 20.3754L22.5975 27.7525C23.3331 28.5585 24.681 28.9027 25.2739 28.9112H30.8008C31.6184 28.865 31.8138 28.7313 31.635 27.9983L24.6672 14.9414C30.1403 12.0563 32.7102 4.01892 34.6939 1.52183ZM20.1495 3.76355L22.1157 3.74442C21.6339 4.38465 20.9607 4.68588 20.0928 4.64209L20.1495 3.76355ZM21.059 5.21962C21.8525 5.36995 22.0761 5.73285 21.8944 7.34947C21.7126 8.96609 19.8737 8.3903 19.7875 7.47764C19.7015 6.56505 20.2655 5.06921 21.059 5.21962ZM18.9523 8.34078C18.8894 9.01443 18.8329 9.73387 17.4804 9.85451C15.96 9.99 15.8759 8.46136 15.8759 8.46136C17.2682 9.4392 18.078 9.24612 18.9523 8.34078ZM14.7434 3.76355L14.8001 4.64209C13.9322 4.68588 13.259 4.38465 12.7772 3.74442L14.7434 3.76355ZM15.1053 7.47764C15.0192 8.3903 13.1802 8.96609 12.9984 7.34947C12.8167 5.73285 13.0404 5.36995 13.8338 5.21962C14.6273 5.06921 15.1913 6.56505 15.1053 7.47764ZM22.8235 14.6429C22.8235 14.6429 29.2896 26.0169 29.619 27.0152C27.5333 27.811 24.234 27.6514 22.9827 26.3873C21.7313 25.1232 17.8005 17.815 17.8005 17.815L12.0506 26.3873C11.393 27.4048 10.7642 27.4427 9.59511 27.6088L5.05497 27.6068L9.09144 20.2184C13.5871 13.7573 17.5254 12.1674 22.1885 10.5268C25.4724 9.37153 28.0621 8.45404 31.1117 5.5562C29.7909 8.18982 26.0687 12.9322 22.8235 14.6429Z"
          fill="#D9D9D9"></path>
      </svg>
      <div class="group flex-col">
        <h4>Wix</h4>
      </div>
    </li>
  </ul>
</section>

<style>
  .færdigheder h3 {
    color: var(--secondary-color);
  }

  .færdigheder ul {
    list-style: none;
    gap: 0.5rem 1.75rem;
    flex-wrap: wrap;
  }

  .færdigheder li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .færdigheder li:hover {
    svg {
      transform: scale(1.1) rotate(-5deg);
    }
  }

  .færdigheder svg {
    aspect-ratio: 1 / 1;
    height: 37px;
    margin-right: 0.7rem;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.206));
    transition: all 0.3s ease;
    path {
      fill: var(--text-color);
    }
  }

  .færdigheder .group {
    gap: 3px;
  }

  .færdigheder p {
    font-size: 0.875rem;
    color: var(--secondary-color);
  }
</style>
